*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    display: flex;
    flex-direction: flex;
    width: 100%;
    height: 13vh;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    margin-left: 40px;
}
header .logo a{
    font-size: 2.6rem;
    font-weight: bold;
    color: white;
    margin: 10px 0;
    cursor: pointer;
}

/* Menu responsive */
header .menu ul{
    margin-right: 10px;
}
.menu ul li{
    display: inline-block;
    margin:  0 8px;
    line-height: 80px;
}
.menu ul li a{
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
.menu ul li a.active, a:hover{
    border: 1px solid white;
    transition: .5s;
}
.menu #icon{
    color: white;
    font-size: 25px;
    line-height: 80px;
    float: right;
    margin: 0 40px 10px 0;
    cursor: pointer;
    display: none;
}



header .header-nav-items{
    display: flex;
    flex-direction: row;
}
header .header-nav-items a{
    font-size: 1.7rem;
    color: white;
    margin: 0 10px;
    transition: .5s all ease;
}
header .header-nav-items a:hover{
    color: black;
}

/* SECTION HOME */
.section-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
}
.section-home .container-elements{
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}
.container-elements h2{
    font-size: 2.8rem;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
}
.container-elements p{
    font-size: 1.8rem;
    text-align: center;
}
.container-elements .elements-buttons{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.elements-buttons a{
    margin: 15px 10px;
    background-color: cornflowerblue;
    padding: 18px 40px;
    border-radius: 10px;
    color: white;
    font-size: 1.6rem;
}
.elements-buttons a:hover{
    background-color: blue;
}

/* Section GEOMETRIA */
.section-fig{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #f3f2f2;
}
.section-fig h2{
    width: 70%;
    font-size: 2.0rem;
    font-weight: 500;
    margin: 20px 0;
    align-self: center;
    text-align: center;
}
.section-fig .container-fig{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 20px 0;
    width: 80%;
    border-radius: 10px;
    border: 1px black solid;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.section-fig .container-fig .container_app-fig{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_app-fig label{
    font-size: 1.4rem;
    color: #1a1919;
}
.container_app-fig input{
    align-self: center;
    width: 100%;
    max-width: 500px;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 1rem;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.container_app-fig input:hover{
    background-color:rgba(0,0,0,0.1);
}
.container_app-fig input:focus{
    background-color: #fff;
    border: 2px solid blue;
}
.container_app-fig button{
    margin: 10px;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    background-color: cornflowerblue;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #fff;
    transition: .3s;
    align-self: center;
}
.container_app-fig button:hover{
    transform: scale(1.1);
}
.container_app-fig p{
    font-size: 1.5rem;
    color: crimson;
    text-align: center;
    margin: 10px 0;
}

/* Section Descuentos */
.section{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    height: auto;
    background-color: #f3f2f2;
}
.section h2{
    width: 70%;
    font-size: 2.0rem;
    font-weight: 500;
    margin: 20px 0;
    align-self: center;
    text-align: center;
}
.section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 20px 0;
    width: 80%;
    border-radius: 10px;
    border: 1px black solid;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
.section .container .container-app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-app label{
    font-size: 1.4rem;
    color: #1a1919;
}
.container-app input{
    align-self: center;
    width: 100%;
    max-width: 500px;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 1rem;
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.container-app input:hover{
    background-color:rgba(0,0,0,0.1);
}
.container-app input:focus{
    background-color: #fff;
    border: 2px solid blue;
}
.container-app button{
    margin: 10px;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    background-color: cornflowerblue;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #fff;
    transition: .3s;
    align-self: center;
}
.container-app button:hover{
    transform: scale(1.1);
}
.container-app p{
    font-size: 1.6rem;
    color: crimson;
}


/* Section Promedio */
.section .container .lista li{
    list-style:decimal;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 5px;
}
.section .container .resultado{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section .container .resultado p{
    align-self: center;
    text-align: center;
    width: 70%;
    font-size: 1.5rem;
    color: red;
}


/* FOOTER */
footer{
    position:relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    background-color: black;
}
footer p{
    font-size: 1.6rem;
    color: white;
    text-align: center;
    margin: 12px 0;
}
footer p a{
    color: aqua;
}


/* Media Queries */
@media (max-width: 750px){
    .menu #icon{
        margin-top: 10px;
        display: block;
    }
    .menu ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background: rgb(82, 82, 184);
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .menu ul li{
        display: block;
        margin: 45px 10px;
        line-height: 30px;
    }
    .menu ul li a{
        font-size: 1.4rem;
        font-weight: 500;
    }
    .menu ul li a.active, a:hover{
        border: 1.5px solid rgb(2, 3, 100);
        color: rgb(2, 3, 100);
    }
    .menu ul.show{
        left: 0;
    }
}

@media (min-width: 900px){
    .menu ul li a{
        font-size: 1.6rem;
    }
    .section{
        min-height: 447px;
    }
    .section-home{
        min-height: 447px;
    }
    .section-home .container-elements{
        margin-top: 80px;
    }
}